.side-bar
  .side-bar__user-name
    .side-bar__user-name__user
      .side-bar__user-name__user__left
        = current_user.name
      .side-bar__user-name__user__right
        = link_to new_group_path  do
          = icon('fas', 'edit', class: "side-bar__user-name__user__btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'side-bar__user-name__user__btn')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to '#' do
          .group-name
            = group.name
          .group-message 
            まだメッセージがありません